.main{
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 14px;
  min-height: 0;
  min-width: 0;
}