.card {
    border: 1px solid white;
    border-color: hsl(0, 0%, 77%);
    border-radius: 5px;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    font-size: 1.1rem;
    color: #333;
    aspect-ratio: 1.618;
    max-width: 100%;
    width: auto;
}

.card:hover {
    opacity: 1;
}

.card__link {
    display: block;
    height: 100%;

}

.card__content {
    position: relative;
    top: -40%;
    left: 30px;
    max-width: 200px;
    background-color: rgb(255, 255, 255, 0.5);
    width: fit-content;
    border-radius: 4px;
    padding: 0.5rem 0.8rem;
    backdrop-filter: blur(5px);
}

.card__content:hover {
    background-color: rgb(228, 160, 136);
    cursor: pointer;
}

.card__title {
    font-weight: bold;
    font-size: 1.3rem;
}

.bgImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: inherit;
    border-radius: 5px;
}