.card {
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    font-size: 1.1rem;
    color: #333;
    width: 100%;
    height: 100%;
    position: relative;
}

.card:hover {
    opacity: 1;
}

.card__link {
    display: block;
    height: 100%;
    position: relative;
}

.card__content {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    max-width: 70%;
    background-color: rgb(255, 255, 255, 0.5);
    width: fit-content;
    border-radius: 4px;
    padding: 0.5rem 0.8rem;
    backdrop-filter: blur(5px);
}

.card__content:hover {
    background-color: rgb(228, 160, 136);
    cursor: pointer;
}

.card__title {
    font-weight: bold;
    font-size: 1.3rem;
}

.bgImg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: inherit;
}

@media (min-width: 850px) and (max-width: 1000px), (max-height: 700px) {
    .card {
        font-size: 1rem;
    }

    .card__content {
        bottom: 0.5rem;
        left: 0.5rem;
        max-width: 70%;
    }

    .card__title {
        font-size: 1.1rem;
    }
  }

@media (max-width: 850px) {
    .card {
        background-position: center;
        background-size: cover;
        opacity: 0.9;
        font-size: 1.1rem;
        color: #333;
        flex-basis: unset;
        margin-bottom: 0.1rem;
        min-height: max-content;
        height: 250px;
    }

    .card__title {
        font-size: 1.2rem;
    }
  }