.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    width: 100%;
    height: calc(100% - 35px);
}

@media (850px <=width <=1100px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        min-height: calc(150px * 5);
        height: max-content;
    }
}