.container {
    grid-column: 1/3;
    width: 100%;
    margin-top: 2rem;
    color: white;
    margin: auto;
    grid-area: reviews;
    box-sizing: border-box;
}

.pixelatedBorder:nth-child(odd),
.pixelatedBorder:nth-child(odd)>.pixelatedContent {
    clip-path: polygon(
            /* bottom left */
            0px calc(100% - (18px + 20px)),
            4px calc(100% - (18px + 20px)),
            4px calc(100% - (18px + 12px)),
            8px calc(100% - (18px + 12px)),
            8px calc(100% - (18px + 8px)),
            12px calc(100% - (18px + 8px)),
            12px calc(100% - (18px + 4px)),
            20px calc(100% - (18px + 4px)),
            20px calc(100% - 18px),
            /* arrow right, x y */
            30px calc(100% - 18px),
            30px calc(100% - 0px),
            36px calc(100% - 0px),
            36px calc(100% - 6px),
            42px calc(100% - 6px),
            42px calc(100% - 12px),
            48px calc(100% - 12px),
            48px calc(100% - 18px),
            54px calc(100% - 18px),
            /* bottom right */
            calc(100% - 20px) calc(100% - 18px),
            calc(100% - 20px) calc(100% - (18px + 4px)),
            calc(100% - 12px) calc(100% - (18px + 4px)),
            calc(100% - 12px) calc(100% - (18px + 8px)),
            calc(100% - 8px) calc(100% - (18px + 8px)),
            calc(100% - 8px) calc(100% - (18px + 12px)),
            calc(100% - 4px) calc(100% - (18px + 12px)),
            calc(100% - 4px) calc(100% - (18px + 20px)),
            100% calc(100% - (18px + 20px)),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px);
}

.pixelatedBorder:nth-child(even),
.pixelatedBorder:nth-child(even)>.pixelatedContent {
    clip-path: polygon(
            /* bottom left */
            0px calc(100% - (18px + 20px)),
            4px calc(100% - (18px + 20px)),
            4px calc(100% - (18px + 12px)),
            8px calc(100% - (18px + 12px)),
            8px calc(100% - (18px + 8px)),
            12px calc(100% - (18px + 8px)),
            12px calc(100% - (18px + 4px)),
            20px calc(100% - (18px + 4px)),
            20px calc(100% - 18px),
            /* arrow left, x y */
            calc(100% - 30px) calc(100% - 18px),
            calc(100% - 30px) calc(100% - 0px),
            calc(100% - 36px) calc(100% - 0px),
            calc(100% - 36px) calc(100% - 6px),
            calc(100% - 42px) calc(100% - 6px),
            calc(100% - 42px) calc(100% - 12px),
            calc(100% - 48px) calc(100% - 12px),
            calc(100% - 48px) calc(100% - 18px),
            calc(100% - 54px) calc(100% - 18px),
            /* bottom right */
            calc(100% - 20px) calc(100% - 18px),
            calc(100% - 20px) calc(100% - (18px + 4px)),
            calc(100% - 12px) calc(100% - (18px + 4px)),
            calc(100% - 12px) calc(100% - (18px + 8px)),
            calc(100% - 8px) calc(100% - (18px + 8px)),
            calc(100% - 8px) calc(100% - (18px + 12px)),
            calc(100% - 4px) calc(100% - (18px + 12px)),
            calc(100% - 4px) calc(100% - (18px + 20px)),
            100% calc(100% - (18px + 20px)),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px);
}

.pixelatedBorder {
    background-color: #710044;
    width: 100%;
    min-height: 80px;
    height: calc(100% + 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.pixelatedContent {
    background-color: #d375ae;
    width: 100%;
    margin: 2px;
}

.reviewContent {
    padding: 1rem 1.2rem calc(1rem + 18px) 1.2rem;
}

.reviewData {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.reviewDate {
    font-family: monospace;

}

.container>h3 {
    font-weight: bold;
}

.form>button {
    background-color: #ff8fe7;
    border: none;
    padding: 1rem 2rem;
    margin: auto;
    grid-column: 1/3;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.form>button:hover {
    background-color: #e57fcf;
}

.listContainer {
    max-height: 500px;
    overflow: auto;
}

.form {
    margin-top: 2rem;
}

.label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
}

.textarea {
    border: solid 3px #cc3f0caa;
    border-radius: 10px;
    padding: 1rem;
    background-color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    font-size: 0.9rem;
    height: min-content;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
}

.noReviews {
    text-align: center;
    margin: 2rem 0;
}

.needToLogin {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.needToLogin>a {
    font-weight: 600;
    color: white;
    text-decoration: white wavy underline;
    text-underline-offset: 4px;
}

.needToLogin>a:visited {
    color: white;
}