.header,
.nav {
    display: none;
}

@media (min-width: 621px) {
    .header,
    .nav {
        display: flex;
    }
}

.header {
    grid-column: outer-layer-start / 3;
    grid-row: 1 / 2;
    /* background-color: white; */

    justify-content: center;
    align-items: center;
}

.header__logo {
    max-width: 100%;
    height: auto;
}

.nav {
    grid-column: 3 / 5;
    grid-row: 1 / 2;

    background: linear-gradient(to right, transparent 0%, hsl(313, 100%, 78%) 100%);
    justify-content: left;
    align-items: center;
    padding: 40px;
}

.nav>a:last-child {
    flex-grow: 1;
    justify-self: end;
    text-align: right;
    position: relative;
    margin-right: 2rem;
}

.nav>a:last-child>span {
    position: relative;
}

.nav>a:last-child>span::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%23262626' stroke-width='1' fill='%23262626'%3E%3Ccircle cx='10' cy='8' r='4'%3E%3C/circle%3E%3Cpath d='M10.67 13.02c-.22-.01-.44-.02-.67-.02-2.42 0-4.68.67-6.61 1.82-.88.52-1.39 1.5-1.39 2.53V20h9.26c-.79-1.13-1.26-2.51-1.26-4 0-1.07.25-2.07.67-2.98M20.75 16c0-.22-.03-.42-.06-.63l1.14-1.01-1-1.73-1.45.49q-.48-.405-1.08-.63L18 11h-2l-.3 1.49q-.6.225-1.08.63l-1.45-.49-1 1.73 1.14 1.01c-.03.21-.06.41-.06.63s.03.42.06.63l-1.14 1.01 1 1.73 1.45-.49q.48.405 1.08.63L16 21h2l.3-1.49q.6-.225 1.08-.63l1.45.49 1-1.73-1.14-1.01c.03-.21.06-.41.06-.63M17 18c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2'%3E%3C/path%3E%3C/svg%3E");
    width: 2.1rem;
    height: 2.1rem;
    display: block;
    position: absolute;
    left: -2.4rem;
    top: -4px;
    opacity: 0.9;
}