.pagination {
    margin-left: auto;
    margin-right: auto;

    height: 35px;

}

@media (max-width: 620px) {
    .pagination {
        margin-top: 10px;
        grid-column: 1 / 2;
        width: fit-content;
    }
}